/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Global Settings */
body {
  font-family: Raleway, sans-serif;
  background: url('../images/background.jpg') no-repeat center center fixed; background-size: cover;
  background-color: #000000; /* Clean, Dark background */
}

/* Header Style */
header {
  background-color: #ffffff; /* Bold purple header */
}

/* Navigation Bar */
.navbar {
  background-color: #56918B; /* Muted teal navbar */
}

/* Primary Button */
.btn-primary {
  background-color: #000000; /* Vibrant orange for call-to-action */
  border-color: #000000;
}

/* Secondary Button */
.btn-secondary {
  background-color: #E8872C; /* Vibrant orange for call-to-action */
  border-color: #E8872C;
}

/* Social Media Hover Effect */
footer a:hover {
  opacity: 0.5;
}

/* Corporate Navbar Active Link */
#navbar-corporate a.active {
  color: #E8872C; /* Orange for active corporate links */
  font-weight: bold;
}

/* Hero Section Text Shadow */
.white-shadow {
  text-shadow: -0.01em -0.01em 0.01em white,
              0.02em 0.02em 0.02em white,
              0 0 0.2em white,
              0 0 0.5em white;
}

.white {
  color: #ffffff; /* White Text */
}

.black {
  color: #000000; /* Black Text */
}

@font-face {
  font-family: 'Racing Mark Race';
  src: url('./fonts/racingmarkrace.otf') format('opentype');
}

body, p, ul, ol, li{
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, .title {
  font-family: 'Racing Mark Race', sans-serif;
}

h4 {
  font-weight: bold;
}

.center{
  text-align: center;
}

.right{
  text-align: end;
}

.rounded-image {
	border-radius: 20px; 
}

.rounded-box {
  border: 2px solid #ccc;
  border-radius: 50px;
  padding: 25px;
  background-color: #000000;
  text-align: center;
  max-width: 80%; /* Limits the width to 80% of the container */
  margin: 0 auto; /* Centers the box horizontally */
}

.carousel-indicators {
  bottom: 0px; /* Increase this value to create more space */
}

/* Make sure the carousel inner container is positioned relative so the children can be positioned absolutely */
#productCarousel .carousel-inner {
  position: relative;
}

/* Center the carousel arrows vertically relative to the inner container */
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

/* Place and center the indicators at the bottom of the image */
.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

